aiocache==0.12.3
APScheduler==3.11.0
cachetools==6.1.0
dateparser==1.2.1
exchange_calendars==4.10.1
Flask==3.1.1
matplotlib==3.10.3
numba==0.61.2
numpy==2.2.1
orjson==3.10.18
pandas==2.3.1
python-dotenv==1.1.1
python_dateutil==2.9.0.post0
Requests==2.32.4
tastytrade==10.3.0
websocket-client==1.8.0
websockets==15.0.1
scipy
"flask[async]"
